// Navbar
.navbar {
  font-size: $navbar-nav-font-size;
  font-weight: $navbar-nav-font-weight;

}

// Navbar brand
.navbar-brand {
  line-height: 40px;
  text-decoration: none;
}

.d-inline-block
{
  width:40px;
  height:40px;
}

// Navbar themes
.navbar-light {
  @include media-breakpoint-up(lg) {
    border-bottom: $border-width solid $border-color;
    background: $bg-gradient;
  }

  .nav-link-external {
    &:after {
      content: '';
      display: inline-block;
      vertical-align: top;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 0 5px 10px;
      border-color: transparent transparent transparent currentColor;
      margin-top: 0.56rem;
    }
  }
}
.navbar-toggler {
  &:focus {
    outline: none;
  }

  &-icon {
    height: $navbar-toggler-icon-size;
    width: $navbar-toggler-icon-size;
  }
}
