html,
body {
  height: 100%;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

main {
  flex: 1;
}



.copyright {
  font-weight: $font-weight-semi;
}


body {
  background: linear-gradient(30.62deg, #fff 0%, #d8f3f990 100%);
}