{% extends "layouts/_base.html" %}
{% block content %}

<section class="scenario-section">
    <div class="container">
        <div class="myclick-header text-center">
            <h1 class="h1">Сreate one-click UIs for accepting standard agreements</h1>
            <p class="lead">Discover the ease and power of the DocuSign Click API </p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <h2 class="h2 text-center text-md-left">Choose your scenario</h2>
                <div id="tabs" class="nav scenario-tabs flex-column" role="tablist" aria-orientation="vertical">
                    <a id="tab-covid" href="#pane-covid" class="nav-link scenario-link active" data-toggle="tab" role="tab">
                        <i class="scenario-link-icon">
                            <img src="../assets/img/ico-covid.svg" alt="COVID-19" />
                        </i>
                        <div class="scenario-link-body">
                            <span class="scenario-link-title">COVID-19 liability waiver <i class="chevron"></i></span>
                            <p class="scenario-link-text">Allows users to assume responsibility for potentially contracting COVID-19 on an organization’s premises</p>
                            <button type="button" class="btn btn-primary">Try it</button>
                        </div>
                    </a>
                    <a id="tab-nda" href="#pane-nda" class="nav-link scenario-link" data-toggle="tab" role="tab">
                        <i class="scenario-link-icon">
                            <img src="../assets/img/ico-nda.svg" alt="NDA" />
                        </i>
                        <div class="scenario-link-body">
                            <span class="scenario-link-title">Nondisclosure agreement <i class="chevron"></i></span>
                            <p class="scenario-link-text">Shows how a user can sign a non-disclosure agreement before a user attends a meeting.</p>
                            <button type="button" class="btn btn-primary">Try it</button>
                        </div>
                    </a>
                    <a id="tab-terms" href="#pane-terms" class="nav-link scenario-link" data-toggle="tab" role="tab">
                        <i class="scenario-link-icon">
                            <img src="../assets/img/ico-terms.svg" alt="Terms" />
                        </i>
                        <div class="scenario-link-body">
                            <span class="scenario-link-title">Terms and conditions <i class="chevron"></i></span>
                            <p class="scenario-link-text">Shows how to let users sign a Terms and Conditions document within your app.</p>
                            <button type="button" class="btn btn-primary">Try it</button>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-xl-7">
                <div id="content" class="tab-content" role="tablist">
                    <div id="pane-covid" class="tab-pane fade show active" role="tabpanel" aria-labelledby="tab-covid">
                        <div class="scenario-link" role="tab" id="heading-covid">
                            <i class="scenario-link-icon">
                               <img src="../assets/img/ico-covid.svg" alt="COVID-19" />
                            </i>
                            <div class="scenario-link-body">
                                <a class="scenario-link-title"
                                   data-toggle="collapse"
                                   href="#collapse-covid"
                                   data-parent="#content"
                                   aria-expanded="true"
                                   aria-controls="collapse-covid">
                                    COVID-19 liability waiver
                                    <i class="chevron"></i>
                                </a>
                                <p class="scenario-link-text">Allows users to assume responsibility for potentially contracting COVID-19 on an organization’s premises</p>
                                <button type="button" class="btn btn-primary">Try it</button>
                            </div>
                        </div>
                        <div id="collapse-covid" class="collapse show" role="tabpanel" aria-labelledby="heading-covid">
                            <div class="card">
                                <div class="card-header">
                                    COVID-19 liability waiver
                                </div>
                                <div class="card-body">
                                    <div class="scroll">
                                        <div class="alert alert-primary" role="alert">
                                             This scenario shows how the Click API can be used to build a simple tool to enable organizations to capture consent from individuals releasing the organization from responsibility in case they contract COVID-19 while on the organization’s premises.
                                        </div>
                                        <strong class="text-uppercase">Code flow:</strong>
                                        <strong>Step 1</strong>
                                        <p>When the form is submitted, we use the <b>Envelopes: create</b> method to send the signature request with the corresponding form information. The envelope we construct contains a <b>document</b> object, a recipient object of type <b>signer</b>, and tabs, which contain the form fields information. Since we are using embedded signing, we must also set the <b>clientUserId</b> property on the recipient.</p>
                                        <strong>Step 2</strong>
                                        <p>When the form is submitted, we use the <b>Envelopes: create</b> method to send the signature request with the corresponding form information. The envelope we construct contains a <b>document</b> object, a recipient object of type <b>signer</b>, and tabs, which contain the form fields information.</p>
                                        <p>When the form is submitted, we use the <b>Envelopes: create</b> method to send the signature request with the corresponding form information. The envelope we construct contains a <b>document</b> object, a recipient object of type <b>signer</b>, and tabs, which contain the form fields information. When the form is submitted, we use the <b>Envelopes: create</b> method to send the signature request with the corresponding form information.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="pane-nda" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-nda">
                        <div class="scenario-link" role="tab" id="heading-nda">
                            <i class="scenario-link-icon">
                               <img src="../assets/img/ico-nda.svg" alt="NDA" />
                            </i>
                            <div class="scenario-link-body">
                                <a class="scenario-link-title collapsed"
                                   data-toggle="collapse"
                                   href="#collapse-nda"
                                   data-parent="#content"
                                   aria-expanded="false"
                                   aria-controls="collapse-nda">
                                    Nondisclosure agreement
                                    <i class="chevron"></i>
                                </a>
                                <p class="scenario-link-text">Shows how users can sign a non-disclosure agreement before they attend a meeting.</p>
                                <button type="button" class="btn btn-primary">Try it</button>
                            </div>
                        </div>
                        <div id="collapse-nda" class="collapse" role="tabpanel" aria-labelledby="heading-nda">
                            <div class="card">
                                <div class="card-header">
                                   Nondisclosure agreement
                                </div>
                                <div class="card-body">
                                    <div class="scroll">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto non numquam ratione tempora. Aperiam architecto asperiores consequatur deserunt eligendi explicabo facilis, illum ipsum magnam necessitatibus nisi odio quaerat quam quo.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="pane-terms" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-terms">
                        <div class="scenario-link" role="tab" id="heading-terms">
                            <i class="scenario-link-icon">
                               <img src="../assets/img/ico-terms.svg" alt="Terms" />
                            </i>
                            <div class="scenario-link-body">
                                <a class="scenario-link-title collapsed"
                                   data-toggle="collapse"
                                   href="#collapse-terms"
                                   data-parent="#content"
                                   aria-expanded="false"
                                   aria-controls="collapse-terms">
                                    Terms and conditions
                                    <i class="chevron"></i>
                                </a>
                                <p class="scenario-link-text">Shows how to let users sign a Terms and Conditions document within your app.</p>
                                <button type="button" class="btn btn-primary">Try it</button>
                            </div>
                        </div>
                        <div id="collapse-terms" class="collapse" role="tabpanel" aria-labelledby="heading-terms">
                            <div class="card">
                                <div class="card-header">
                                    Terms and conditions
                                </div>
                                <div class="card-body">
                                    <div class="scroll">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquid commodi culpa, debitis, eius excepturi hic illum iusto minima nisi perferendis quia rem temporibus totam vel? Aperiam labore nulla quisquam.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <i class="shape shape-1"></i>
                    <i class="shape shape-2"></i>
                    <i class="shape shape-3"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="resources-section">
    <div class="container">
        <h3 class="h3">Resources</h3>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#">DocuSign Developer Center</a>
            </li>
            <li class="list-inline-item">
                <a href="#">Get a free Demo Account</a>
            </li>
            <li class="list-inline-item">
                <a href="#">ClickAPI</a>
            </li>
        </ul>
    </div>
</section>
{% endblock %}
